---
import ContactForm from "@/components/ContactForm.astro";
import Faq from "@/components/Faq.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import { markdownify } from "@/lib/utils/textConverter";
import TestimonialSlider from "@/partials/TestimonialSlider.astro";
import type { ContentEntryMap } from "astro:content";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

const { lang } = Astro.params;
const contactIndex = await getListPage(
  "contact",
  lang as keyof ContentEntryMap
);
const { title, meta_title, description, hero, contact } = contactIndex[0].data;

// testimonial
const testimonial = await getSinglePage(
  "testimonialSection",
  lang as keyof ContentEntryMap,
  "testimonial"
);
---

<Base title={title} meta_title={meta_title} description={description}>
  <section class="section">
    <div class="container">
      <div class="row g-4 justify-center">
        <div class="col-12">
          <h1
            set:html={markdownify(hero.title)}
            class="text-center mb-6 text-[32px] md:text-[48px] lg:text-[64px]"
            data-aos="fade-up-sm"
          />
          <p
            set:html={markdownify(hero.content)}
            class="lg:text-balance lg:w-1/2 text-center mx-auto mb-14"
            data-aos="fade-up-sm"
          />
        </div>
        <div class="col-12 md:col-10 lg:col-8 xl:col-5 min-h-full">
          <div
            class="p-10 rounded-xl bg-light h-full flex flex-col justify-between"
          >
            <h3 class="mb-auto max-xl:mb-6" data-aos="fade-up-sm">
              Start a Conversation
            </h3>
            <div>
              {
                contact.map((c: any, i: number) => (
                  <div
                    class="flex items-center mb-4 last:mb-0"
                    data-aos="fade-up-sm"
                    data-aos-delay={i * 100}
                  >
                    <div class="mr-4 p-5 rounded-full bg-primary w-fit">
                      <DynamicIcon
                        icon={c.icon}
                        className="text-text-light text-3xl"
                      />
                    </div>
                    <p set:html={markdownify(c.name)} class="text-xl" />
                  </div>
                ))
              }
            </div>
          </div>
        </div>
        <div class="col-12 md:col-10 lg:col-8 xl:col-7 min-h-full">
          <ContactForm lang={lang} />
        </div>
      </div>
    </div>
  </section>

  <TestimonialSlider {testimonial} />

  <Faq />
</Base>
